Webservices/CalcClient/web/WEB-INF/wsdl/localhost_8080/CalcService/WebCalculator.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webCalculator/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webCalculator/" name="WebCalculator">
<types>
<xsd:schema>
<xsd:import namespace="http://webCalculator/" schemaLocation="http://localhost:8080/CalcService/WebCalculator?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="NegativeNumberException">
<part name="fault" element="tns:NegativeNumberException"/>
</message>
<message name="minus">
<part name="parameters" element="tns:minus"/>
</message>
<message name="minusResponse">
<part name="parameters" element="tns:minusResponse"/>
</message>
<message name="times">
<part name="parameters" element="tns:times"/>
</message>
<message name="timesResponse">
<part name="parameters" element="tns:timesResponse"/>
</message>
<portType name="WebCalculator">
<operation name="add">
<input wsam:Action="http://webCalculator/WebCalculator/addRequest" message="tns:add"/>
<output wsam:Action="http://webCalculator/WebCalculator/addResponse" message="tns:addResponse"/>
<fault message="tns:NegativeNumberException" name="NegativeNumberException" wsam:Action="http://webCalculator/WebCalculator/add/Fault/NegativeNumberException"/>
</operation>
<operation name="minus">
<input wsam:Action="http://webCalculator/WebCalculator/minusRequest" message="tns:minus"/>
<output wsam:Action="http://webCalculator/WebCalculator/minusResponse" message="tns:minusResponse"/>
<fault message="tns:NegativeNumberException" name="NegativeNumberException" wsam:Action="http://webCalculator/WebCalculator/minus/Fault/NegativeNumberException"/>
</operation>
<operation name="times">
<input wsam:Action="http://webCalculator/WebCalculator/timesRequest" message="tns:times"/>
<output wsam:Action="http://webCalculator/WebCalculator/timesResponse" message="tns:timesResponse"/>
<fault message="tns:NegativeNumberException" name="NegativeNumberException" wsam:Action="http://webCalculator/WebCalculator/times/Fault/NegativeNumberException"/>
</operation>
</portType>
<binding name="WebCalculatorPortBinding" type="tns:WebCalculator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NegativeNumberException">
<soap:fault name="NegativeNumberException" use="literal"/>
</fault>
</operation>
<operation name="minus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NegativeNumberException">
<soap:fault name="NegativeNumberException" use="literal"/>
</fault>
</operation>
<operation name="times">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NegativeNumberException">
<soap:fault name="NegativeNumberException" use="literal"/>
</fault>
</operation>
</binding>
<service name="WebCalculator">
<port name="WebCalculatorPort" binding="tns:WebCalculatorPortBinding">
<soap:address location="http://localhost:8080/CalcService/WebCalculator"/>
</port>
</service>
</definitions>